<div id='content'>
  <div id='spacer'></div>
  <h1>Tweet Like Me</h1>
  <%= form_for :account, url: accounts_path do |f| %>
    <%= f.text_field :username %>
    <%= f.submit "Generate" %>
  <% end %>
</div>
