<div id="spacer"></div>
  <div id="content">
    <p>Generated tweet based on the account of <%= link_to @account.username, "http://twitter.com/" << @account.username, class: "link"  %>: </p>
    <p id="tweet"><%= generate_tweet(@account.corpus, 2) %></p>
    <p>
      <%= link_to "Try Again", @account, class: "btn" %>  
      <%= link_to "Enter a New Name", root_path, class: "btn" %>  
    </p>
  </div>
</div>
